{{ define "main" }}

<section>
  <div>
    {{ .Content }}</div>
</section>

<section>
  <div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="https://forms.dckube.scilifelab.se/api/v1/form/M5GfePAbHxkPdIph/incoming" class="needs-validation"
          novalidate method="POST" accept-charset="utf-8">
          <div class="modal-body">
            <input type="url" id="originUrl" name="originUrl" value="" hidden />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section><div><a class="btn btn-aqua" href="/contact/">Inform us of other resources</a></div></section>

{{ $resource_type := slice }}
{{ $level := slice }}
{{ $phase := slice }}
{{ $open_resources := slice }}
{{ $level := slice }}
{{ range sort $.Site.Data.resources.items ".title" "asc" }}
    {{ $open_resources = $open_resources | append . }}
    {{ $resource_type = $resource_type | append .type }}
    {{ $level = $level | append .level }}
    {{ $phase = $phase | append .phase }}
{{ end }}
{{ $resource_type = $resource_type | uniq }}
{{ $level = $level | uniq }}
{{ $phase = $phase | uniq }}

{{ if ge (len $open_resources) 1 }}
<section>
  <div class="row mt-3 mb-5">
    <div class="col-lg-2" id="resource-filters">
      <h3>Type</h3>
      {{ range sort $resource_type }}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="{{ . }}" name="type" value="{{ delimit (split . " ") "-" | lower }}">
          <label class="form-check-label" for="{{ . }}">{{ . }}</label>
        </div>
      {{ end }}

      <h3 class="mt-3">Phase</h3>
      {{ range sort $phase }}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="{{ . }}" name="phase" value="{{ delimit (split . " ") "-" | lower }}">
          <label class="form-check-label" for="{{ . }}">{{ . }}</label>
        </div>
      {{ end }}

      <h3>Level</h3>
      {{ range sort $level }}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="{{ . }}" name="level" value="{{ delimit (split . " ") "-" | lower }}">
          <label class="form-check-label" for="{{ . }}">{{ . }}</label>
        </div>
      {{ end }}

    </div>
    <div class="col-lg">
      <div class="row g-2" id="resources-container">
      {{ range $ind, $cont := $open_resources }}

      {{/* Add custom attributes for filtering purposes */}}
      {{ $this_resource_type := slice }}
      {{ range .type }}{{ $this_resource_type = $this_resource_type | append (delimit (split . " ") "-" | lower) }} {{ end }}
      {{ $this_resource_type = delimit $this_resource_type " " }}
      {{ $this_phase := slice }}
      {{ range .phase }}{{ $this_phase = $this_phase | append (delimit (split . " ") "-" | lower) }} {{ end }}
      {{ $this_phase = delimit $this_phase " " }}
      {{ $this_level := slice }}
      {{ range .level }}{{ $this_level = $this_level | append (delimit (split . " ") "-" | lower) }} {{ end }}
      {{ $this_level := delimit $this_level " " }}

      <div class="col-md-4 col-lg-4 resource" data-resource-type="{{ $this_resource_type }}" data-phase="{{ $this_phase }}" data-level="{{ $this_level }}">
        <div class="p-3 border rounded h-100">
          <div class="d-flex justify-content-between">
            <div>
              {{ range .type }}<span class="badge event-type mb-1 me-1">{{ . }}</span>{{ end }}
              <h3><a class="" role="button" data-bs-toggle="modal"
                  data-bs-target="#descriptionModal{{ $ind }}">{{ .title }}</a></h3>
            </div>
            <div>
            </div>
          </div>
          {{ if .provider }}<div class="row">
            <div class="col">
              <b>Content provider:</b> {{.provider}}
            </div>
          </div>{{ end }}
          <div class="row mt-3">
            <div class="col">
              <button type="button" class="btn btn-details btn-primary" data-bs-toggle="modal"
                data-bs-target="#descriptionModal{{ $ind }}">
                See details
              </button>
              <div class="modal fade" id="descriptionModal{{ $ind }}" tabindex="-1"
                aria-labelledby="descriptionModalLabel{{ $ind }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="descriptionModalLabel">{{ .title }}</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{ if .description }}<div class="row mt-1">
                        <div class="col"><b>Brief description:</b><br>
                          {{ .description | markdownify }}
                        </div>
                      </div>{{ end }}
                      <div class="row mt-3">
                        <div class="col">
                          <b>Resource type:</b> {{ range .type }}<span class="badge event-type mb-1 me-1">{{ . }}</span>{{ end }}
                        </div>
                      </div>
                      {{ if .phase }}<div class="row mt-1">
                        <div class="col">
                          <b>Phase:</b> {{ delimit .phase ", " }}
                        </div>
                      </div>{{ end }}
                      {{ if .level }}<div class="row mt-1">
                        <div class="col">
                          <b>Difficulty level:</b> {{ delimit .level ", "}}
                        </div>
                      </div>{{ end }}
                      {{ if .provider }}<div class="row mt-1">
                        <div class="col">
                          <b>Content provider:</b> {{ .provider }}
                        </div>
                      </div>{{ end }}
                      {{ if .DOI }}<div class="row mt-3">
                        <div class="col"><b>DOI:</b>
                          <a target="_blank" href="{{ .DOIurl }}"><i class="bi bi-globe"></i> {{ .DOI }}</a>
                        </div>
                      </div>{{ end }}
                      {{ if .licence }}<div class="row mt-1">
                        <div class="col">
                          <b>Licence:</b> {{ .licence }}
                        </div>
                      </div>{{ end }}
                      <div class="row mt-3">
                        <div class="col-md">
                          <p>For more information, <a target="_blank" href="{{ .url }}"><i class="bi bi-globe"></i> visit the resource directly</a>.</p>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      <div id="no-filtered-resources" style="display:none;">
        <p class="text-center">No resources found for selected criteria.</p>
      </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

<script>
  // set origin url in the form
  document.getElementById('originUrl').value = location.href;

  // Validate the form by checking mandatory fields and recaptcha
  var form = document.querySelector('.needs-validation');
  form.addEventListener('submit', function (event) {
    if (form.checkValidity() === false) {
      event.preventDefault();
      alert("Please fill out all required fields.");
      event.stopPropagation();
      form.classList.add('was-validated')
    }
    var recaptcha = $("#g-recaptcha-response").val();
    if (recaptcha === "") {
      event.preventDefault();
      alert("Please tick 'I'm not a robot' above the 'Submit the form' button.");
    }
  });

// ADD LEVEL BELOW HERE!
  // Filter jobs based on selected criteria
  $('div#resource-filters input:checkbox').on('change', function(){
    var selected_filters = new Object();

    // Collect and create a list with selected values
    var resource_type = $('input:checkbox[name="type"]:checked').map(function () {return this.value}).get();
    if (resource_type.length) { selected_filters['data-resource-type'] = resource_type };

    var phase = $('input:checkbox[name="phase"]:checked').map(function () {return this.value}).get();
    if (phase.length) { selected_filters['data-phase'] = phase };

    var level = $('input:checkbox[name="level"]:checked').map(function () {return this.value}).get();
    if (level.length) { selected_filters['data-level'] = level };

    // Hide all displayed jobs and message
    $('div#resources-container div.resource').hide();
    $('div#no-filtered-resources').hide();

    // Show relavant jobs based on selected criteria
    if (!Object.keys(selected_filters).length) {
      $('div#resources-container div.resource').show();
    } else {
      var all_selected_events = [];
      // Iterate over all selected criteria and collect the events
      for (var [filter_name, filter_list] of Object.entries(selected_filters)) {
        var s_events = new Set;
        filter_list.forEach(function (filter_value) {
          $(`div#resources-container div[${filter_name}*=${filter_value}]`).each(function () { s_events.add(this); });
        });
        all_selected_events.push(s_events);
      };

      // When multiple criteria selectd it should act as AND not OR
      selected_events = all_selected_events.reduce(function (x, y) {
        var z = new Set;
        x.forEach(v => y.has(v) && z.add(v));
        return z;
      });
      // Set display for event with selected criteria
      if (selected_events.size) {
        selected_events.forEach(function (sEvent) { sEvent.style.display = ''; })
      } else {
        // Display a message if no events available for selected criteria
        $('div#no-filtered-resources').show();
      };
    };

  });

</script>

{{ end }}
