{
    "defaults": {
        "hideElements": "div.g-recaptcha, iframe[style*='display: none']",
        "chromeLaunchConfig": {
            "args": ["--disable-dev-shm-usage", "--no-sandbox"],
            "executablePath": "/usr/bin/google-chrome",
            "ignoreHTTPSErrors": true
        }
    }
}
