{{/*
    Creates a copy to clipboard button above each code block that switches between a copy and copied state
    by controlling the buttons visibility with js.
    
    If the code block is marked as citation style, placeholders inside the citation text will be replaced and
    the code block will be styled as a citation block.
    Otherwise, rendered as regular code block.
    */}}
    
    {{- $content := .Inner | safeHTML -}}
    {{- $style := index .Attributes "style" | default "code" -}}
    
    <div class="clipboard">
        <button class="clipboard-button copy-button" type="button">
            <img class="clipboard-icon" src="/img/icons/copy.svg" alt="Copy to clipboard icon">
        </button>
        <button class="clipboard-button copied-button" type="button" style="display: none;">
            <img class="clipboard-icon" src="/img/icons/check.svg" alt="Copy to clipboard icon">
        </button>
    </div>
    
    {{ if eq $style "citation" }}
        {{ $year := now.Year }}
        {{ $date := now.Format "January 2, 2006" }}
    
        {{/* Replace citation text placeholders */}}
        {{ $version := partial "GetVersion.html" }}
        {{ $portalVersion := $version.tag | default "X.X.X" | strings.TrimPrefix "v" }}
    
        {{ $content := replace $content "DATE_ACCESSED" $date }}
        {{ $content := replace $content "YEAR" $year }}
        {{ $content := replace $content "VERSION_NUMBER" $portalVersion }}
    
        <pre class="citation-block"><code>{{- strings.TrimSpace $content | markdownify -}}</code></pre>
    {{ else }}
        <pre><code>{{ $content }}</code></pre>
    {{ end }}
    
    {{ .Page.Store.Set "needsClipboardJS" true }}
