<p>The European Nucleotide Archive (ENA) provides a comprehensive record of the world's nucleotide sequencing information, 
    covering raw sequencing data, sequence assembly information, and functional annotation.</p>  
<p>The European Nucleotide Archive (ENA) hosts its own instance of the Sequence Read Archive (SRA), which uses 
the same data model at the SRA at NCBI. The SRA accepts raw sequencing data from any platform and from any 
type of research project. There are several ways to <a href="https://www.ebi.ac.uk/ena/submit" target="_blank">
    submit</a> data to ENA, for more information see the documentation. NBIS provides 
    <a href="https://github.com/NBISweden/data-submission-documentation/tree/main/ENA" target="_blank">
        examples</a> of submissions to ENA, including standard operating procedures (SOPs). These are 
        exemplified in our <a href="/topics/ena-submission-tutorial">ENA submission tutorial</a>.</p>
<p>We also recommend the following two specialised guidelines:</p>
<ul>
<li><a href="https://biodiversitydata-se.github.io/mol-data/index.html" target="_blank">Guide for submission of metabarcoding data to ENA</a> provided by the Swedish Biodiversity Data Infrastructure (<a href="https://biodiversitydata.se/" target="_blank">SBDI</a>)</li>
<li><a href="https://www.pathogens.se/support_services/tutorial_ena/tutorial_ena_intro/" target="_blank">Tutorial for SARS-CoV-2 genome data submission to ENA</a> provided by the Swedish Pathogens Portal</li>
</ul>