<p>OME-Zarr is a format developed by the Open Microscopy Environment (OME) for the storage of chunked, compressed, N-dimensional arrays, suitable for high-dimensional, metadata-rich microscopy images.</p>
<p>There are tools available for image conversion (non-exhaustive list):</p>
<ul>
<li><a href="https://github.com/glencoesoftware/bioformats2raw" target="_blank">glencoesoftware/bioformats2raw</a> (CLI) Bio-Formats --> intermediate Zarr structure compatible with the OME-Zarr specification</a></li>
<li><a href="https://github.com/glencoesoftware/raw2ometiff" target="_blank">glencoesoftware/raw2ometiff</a> (CLI) Intermediate Zarr structure (see bioformats2raw) --> OME-TIFF</a></li>
<li><a href="https://github.com/glencoesoftware/NGFF-Converter" target="_blank">glencoesoftware/NGFF-Converter</a> (GUI) Graphical user interface for bioformats2raw & raw2ometiff</a></li>
<li>Python packages such as <a href="https://github.com/bioio-devs/bioio" target="_blank">bioio</a> (many formats), <a href="https://github.com/fideus-labs/ngff-zarr" target="_blank">ngff-zarr</a> (OME-Zarr), or <a href="https://github.com/ome/ome-zarr-py" target="_blank">ome-zarr-py</a></li>
</ul>
