</div>{{ if .IsHome }}
  <header class="header" style="background-image: url('/img/illustrations/circle_zoomed.png'); color: white; ">
    <div class="container">
      <div class="py-2 my-1">
        {{ .Content }}
      </div>
    </div>
  </header>
{{ else }}
{{ with .Site.GetPage "section" }}
<header class="header"
  style="background-image: url('{{ if .Params.header_image }}{{ .Params.header_image }}{{ else }}/img/illustrations/bubble_matrix.png{{ end }}');">
  <div class="container">
    <h1>{{ .FirstSection.Title }}</h1>
    {{ .FirstSection.Params.description }}
  </div>
</header>
{{ else }}
<header class="header"
  style="background-image: url('{{ if .Params.header_image }}{{ .Params.header_image }}{{ else }}/img/illustrations/bubble_matrix.png{{ end }}');">
  <div class="container">
    <h1>{{ .FirstSection.Title }}</h1>
    {{ .FirstSection.Params.description }}
  </div>
</header>
{{ end }}
{{ if .Parent }}
<nav class="breadcrumbs pt-2 pb-2 bg-light sticky-top2" aria-label="breadcrumb">
  <div class="container">
    <ol class="breadcrumb ">
      {{ if .Parent.Parent }}
      {{ if .Parent.Parent.Parent }}
      {{ if .Parent.Parent.Parent.Parent }}
      <li class="breadcrumb-item"><a
          href="{{ .Parent.Parent.Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Parent.Parent.Title }}</a></li>
      {{ end }}
      <li class="breadcrumb-item"><a
          href="{{ .Parent.Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Parent.Title }}</a></li>
      {{ end }}
      <li class="breadcrumb-item"><a href="{{ .Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Title }}</a></li>
      {{ end }}
      <li class="breadcrumb-item"><a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </div>
</nav>
{{ end }}
{{ end }}
