{{ define "main" }}

<section>
  <div class="row mt-2">
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title no-anchor">Research data life cycle</h2>
        <p class="card-text">Click on a section of the wheel below to get an introduction to that phase of the
          research data life cycle.<br></p>
        {{- partial "data_life_cycle.html" . -}}
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h2 class="card-title no-anchor">Topics</h2>
        <p class="card-text">Click on either of the links below to get an overview of individual research data
          management topics. </p>
        <div class="row g-3 cont-links">
          {{ $topic := where .Site.RegularPages "Section" "topic" }}
          {{ range $topic }}
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="p-3 border rounded h-100">
              <div class="d-flex justify-content-between">
                <div>
                  {{ if eq .Params.category "Human data"}}
                  <i class="bi bi-person-fill"></i>
                  {{else}}
                  <i class="bi bi-info-square"></i>
                  {{ end }}
                  <b>
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </b>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
</section>
{{ end }}