{{ $topic := where .Site.RegularPages "Section" "topics" }}

<div class="row cards p-4 pb-5 rounded cont-links d-flex">
  {{ range $topic }}
  {{ if in .Page.Params.category "Other" }}
  <div class="col-sm-12 col-md-6 col-lg-4 p-3">
    <a class="btn btn-light p-3 h-100 d-flex justify-content-between" href="{{ .RelPermalink }}" role="button">{{ .Title }}</a>
  </div>
  {{ end }}
  {{ end }}
  <div class="col-sm-12 col-md-6 col-lg-4 p-3">
    <div class="dropdown">
      <a class="btn btn-light p-3 h-100 d-flex justify-content-between" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false"> Working with human data
        <i class="bi bi-chevron-double-down"></i>
      </a>
      <ul class="dropdown-menu col-12 col-sm-12 col-md-12 col-lg-12" aria-labelledby="dropdownMenuButton1">
        {{ range $topic }}
        {{ if in .Page.Params.category "Human data" }}
        <li><a class="dropdown-item p-3 h-100 d-flex justify-content-between" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>