<div class ="row g-3 cont-links">
{{ $topic := where .Site.RegularPages "Section" "topics" }}
{{ range $topic }}
  <div class="col-sm-12 col-md-6 col-lg-4">
   <div class="p-3 border rounded h-100">
      <div class="d-flex justify-content-between">
        <div>
          {{ if eq .Params.category "Human data"}}
          <i class="bi bi-person-fill"></i>
          {{else}}
          <i class="bi bi-info-square"></i>
          {{ end }}
          <b>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </b>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
