<div class="row cards p-4 rounded cont-links">
  {{ $topic := where .Site.RegularPages "Section" "topics" }}
  {{ range $topic }}
  <div class="col-sm-12 col-md-6 col-lg-4 p-2">
    <div class="card background-white p-3 rounded h-100">
      <div class="d-flex justify-content-between">
        <div>
          <i class="bi bi-info-square"></i>
          <b>
            <a href="{{ .RelPermalink }}" class="stretched-link">{{ .Title }}</a>
          </b>
        </div>
        <!-- <div>
          {{ if eq .Params.category "Human data"}}
          <i class="bi bi-person-fill"></i>
          {{else}}
          <i class="bi bi-info-square"></i>
          {{ end }}
          <b>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </b>
        </div> -->
      </div>
    </div>
  </div>
  {{ end }}
</div>
